html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}
/*map structure*/
html{
    font-size: 62.5%;
}
body {
    background:rgb(221, 198, 188);
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    
}
.map{
    position: relative;
    display: block;
    width: 500px;
    height:500px;
    border: 5px solid black;
    margin: 30px 0;
    /* left: 50vw; */
}
.options{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right:30px;
    top:60px;
}
.floorOptions{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
h1{
    text-align: center;
    text-transform: uppercase;
}
h2{
    text-transform: uppercase;
    margin-bottom: 0;
}

.map div {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
}
.grid img{
    opacity: 0.5;
}

.floorOptions button{
    border:none;
    font-size: 2rem;
    height:30px;
    margin-bottom: 5px;
}
.obstacleOptions button:hover{
    background: rgb(158, 151, 151)
}
/* .options{
    text-align: center;
} */

.obstacleOptions div:not(.obstacleOptionsNone){
    display: none;
}
.obstacleOptions button{
    margin-bottom: 20px;
    height:30px;

}

/*--background images for the floor terrains*/
.floorGrass{
    background-image: url(../assets/floor-grass.jpg);
    background:cover;
}

.btnGrass{
    /* background-image: url(../assets/floor-grass.jpg);
    background:cover; */
    background-color: rgb(136, 216, 104);
}
.btnGrass:hover{
    background-color: rgb(56, 148, 71)
}



.floorWood{
    background-image: url(../assets/floor-wood.jpg);
    background-size: contain;

}
.btnWood{
    background-color: rgb(167, 130, 82);
}
.btnWood:hover{
    background-color: rgb(87, 75, 49)
}

.floorStone{
    background-image: url(../assets/floor-stone.jpg);
    background-size: contain;

}
.btnStone{
    background-color: rgb(129, 129, 129);
}
.btnStone:hover{
    background-color: rgb(65, 65, 65)
}
.floorWater{
    background-image: url(../assets/floor-water.jpg);
    background-size: contain;

}
.btnWater{
    background-color: rgb(88, 240, 240);
}
.btnWater:hover{
    background-color: rgb(21, 168, 168)
}

.floorLava{
    background-image: url(../assets/floor-lava.jpg);
    background-size: contain;
}
.btnLava{
    background-color: rgb(180, 115, 115);
}
.btnLava:hover{
    background-color: rgb(92, 59, 59)
}

/*---Obstacles --*/
.bushObstacle{
    background-image: url(../assets/obstacle-bush.png);
    background-size: contain;
}
.bushBtn{
    border: none;
    background: rgb(231, 219, 219)
}

.treeObstacle{
    background-image: url(../assets/obstacle-tree.png);
    background-size: contain;
}
.treeBtn{
    border: none;
    background: rgb(231, 219, 219); 
}

.pitObstacle{
    background-image: url(../assets/pit-obstacle.png);
    background-size: contain;
}
.pitBtn{
    border: none;
    background: rgb(231, 219, 219);
}

.rocksObstacle{
    background-image: url(../assets/rock-obstacle.png);
    background-size: contain;
}
.rocksBtn{
    border: none;
    background: rgb(231, 219, 219);
}

.barrelObstacle{
    background-image: url(../assets/barrel-obstacle.png);
    background-size: contain;
}
.barrelBtn{
    border: none;
    background: rgb(231, 219, 219);
}

.chestObstacle{
    background-image: url(../assets/chest-obstacle.png);
    background-size: contain;
}
.chestBtn{
    border: none;
    background: rgb(231, 219, 219);
}

.shipObstacle{
    background-image: url(../assets/debris-obstacle.png);
    background-size: cover;
}
.shipBtn{
    border: none;
    background: rgb(231, 219, 219);
}

.icebergObstacle{
    background-image: url(../assets/iceberg-obstacle.png);
    background-size: cover;
}
.icebergBtn{
    border: none;
    background: rgb(231, 219, 219)
}

.fireObstacle{
    background-image:url(../assets/fire-obstacle.png);
    background-size: cover;
}
.fireBtn{
    border: none;
    background: rgb(231, 219, 219);
}

.spikeObstacle{
    background-image: url(../assets/spike-obstacle.png);
    background-size: cover;
}
.spikeBtn{
    border: none;
    background: rgb(231, 219, 219);
}
/*----characters------*/
.warrior{
    background-image: url(../assets/warrior.png);
    background-size: cover;
}
.warriorBtn{
    border:none;

}

.monster{
    background-image: url(../assets/goblin.png);
    background-size: cover;
}
.monsterBtn{
    border: none;
}
/*------- Dice Roller -------*/
#diceButton {
    background-color: rgb(116, 76, 71);
    border-radius: 6px;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px;
    text-transform: uppercase;
    width: 200px;
    cursor: pointer;
}
#diceNumber {
    font-family: 'Eagle Lake', cursive;
    height: 100px;
    width: 100px;
    padding: 25px;
    padding-top:20px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 10px;  
    font-size:50px;
}

